{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

printf "Starting run once before install"

if ! which -s brew; then
printf "Brew is not installed, installing brew \n"
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
echo "Brew is available, upgrading brew"
brew update
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
brew "protobuf"
brew "grpc"
brew "bash"
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "curl"
brew "d2"
brew "diff-so-fancy"
brew "docker-compose"
brew "gcc"
brew "fzf"
brew "git"
brew "gnu-sed"
brew "go"
brew "goenv"
brew "golangci-lint"
brew "grpcurl"
brew "hadolint"
brew "lua"
brew "htop"
brew "hugo"
brew "imagemagick"
brew "jq"
brew "lsd"
brew "neovim"
brew "nmap"
brew "pre-commit"
brew "ruby-build"
brew "ripgrep"
brew "ruby"
brew "shellcheck"
brew "tmux"
brew "wget"
brew "bufbuild/buf/buf"
brew "hashicorp/tap/terraform"
brew "gh"
cask "alacritty"
cask "docker"
cask "font-jetbrains-mono-nerd-font"
cask "google-chrome"
cask "rectangle"
cask "raycask"
EOF

{{ end -}}
