{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

printf "Starting run once before install"

if ! which -s brew; then
printf "Brew is not installed, installing brew \n"
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
echo "Brew is available, upgrading brew"
brew update
fi

brew bundle --file=~/.config/Brewfile

{{ end -}}
